@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: black;
} */

@font-face {
  font-family: "Cardo";
  src: url("/fonts/Cardo-Regular.ttf");
}

@font-face {
  font-family: "Merriweather  Sans";
  src: url("/fonts/MerriweatherSans-VariableFont_wght.ttf");
}

@layer components {
  .nav-link {
    @apply px-3 py-1 inline-flex text-base-100 items-center hover:bg-base-100 hover:text-primary rounded-md;
  }

  .nav-link-current {
    @apply px-3 py-1 inline-flex items-center font-bold bg-base-100 text-primary rounded-md;
  }

  .btn-primary {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-primary hover:shadow-md;
  }

  .quality-badge {
    @apply inline-flex items-center rounded-md px-2.5 py-0.5 text-sm font-medium;
  }

  .btn-ghost {
    /* button without outline or background */
    @apply inline-flex items-center border border-transparent hover:bg-transparent;
  }

  .btn-outline {
    @apply inline-flex justify-center rounded-md border border-primary bg-transparent hover:bg-base-200 hover:text-primary px-4 py-2 text-sm font-medium text-neutral focus:outline-primary focus:ring-primary;
  }
}
